.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 100%;
    margin-top: 20px;
    background: white;
}

.header .brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .brand-logo {
    color: black;
    font-size: 60px;
    margin-right: 20px;
}

.header .brand-name {
    color: black;
    font-size: 35px;
}

.header .search {
    width: 600px;
    margin-left: 20px;
}

.header .cart-part {
    margin-left: 30px;
}

.header .cart-button {
    width: auto;
    height: auto;
}

.header .cart-button-logo {
    font-size: 18px;
    height: 20px;
    width: 20px;
}
