.sider {
    width: 350px;
    height: 450px;
    float: right;
    padding: 2px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.sider .spin-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.sider .quantity-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
}

.sider .ant-card-body {
    padding: 5px;
    height: auto;
}

.sider .title-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    float: right;
    height: 100%;
    width: 80%;
}

.sider .item-list {
    height: 350px;
    overflow-y: scroll;
}

.sider .ant-popover-open {
    padding: 0;
}
